@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lalezar', cursive;
  font-family: 'Share', cursive;
  line-height: 1.5;
  background-color: #1c1c1c;
  color: #fff;
}

body h2 {
  color: #ffc875;
}


a {
  text-decoration: none;
  color: #aaa;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

header {
  background-color: #1c1c1c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.active {
  color: gold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 1rem;
  font-size: 26px;
}

.navbar-item a:hover {
  color: gold;
}


#logo-img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
  }

  .navbar-list {
    display: none;
  }

  .burger {
    display: flex;
    margin-left: 1rem;
  }

  #logo-img {
    margin: 0 auto;
    text-align: center;
    margin-left: -15%;
  }

  .burger i {
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1c1c1c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
    width: 80%;
  }

  .navbar-item {
    margin: .5rem 0;
    font-size: 1.5rem;
  }

}

@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }
  .overlay {
    display: none;
  }
}

main {
  margin-top: 5rem;
}

/* Section styles */

.intro {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10vh 0;
}

.intro h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 769px) {
  .intro {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10vh 0;
    max-height: 20px;
   }

  .intro h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
}
.featured-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#featured_content {
  padding-bottom: 1em;
}

.featured-content-header {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.featured-content-box {
  height: 500px;
  width: 30%;
  text-align: center;
  background-color: #3c3c3c;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
  overflow-y: auto; /* Add this line to make the text scrollable */
}

.featured-content-box img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 60%;
  border-radius: 5px;

  object-fit: cover;
}

.featured-content-box h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffc875;
  text-transform: uppercase;
}

.featured-content-box p {
  font-size: 1.1em;
  line-height: 1.5;
  color: #fff;
  max-height: 120px;
}

.featured-content-box a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffc875;
  color: #3c3c3c;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.featured-content-box a:hover {
  background-color: #fff;
  color: #ffc875;
}

@media only screen and (max-width: 767px) {
  .featured-content {
    padding: 20px;
  }
  .featured-content-header {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .featured-content-box {
    width: 90%;
    margin: 0 auto 20px;
  }
  .featured-content-box img {
    height: 80%;
    width: 100%;
    border-radius: 5px;

  }
}

@media only screen and (min-width: 768px) {
  .featured-content {
    flex-direction: row;
    justify-content: space-between;

  }

  .featured-content-box {
    width: 30%;
    margin-right: 20px;
  }
  .featured-content-box:last-of-type {
    margin-right: 0;
  }
  .featured-content-box img {
    height: 80%;
    width: 100%;
    border-radius: 5px;

  }
}

.screenshots {
  padding: 2rem;
}

.screenshots h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.screenshots-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.screenshots-grid img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.section-container {
  margin: auto;
  max-width: 800px;
  display: block;
  box-sizing: border-box;
}

.trailer {
  padding: 2rem;
}

.trailer h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.video-container {
  position: absolute;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  padding-top: 25px;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news {
  padding: 40px;
}

.news h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  color: #ffc875;
}
.news a {
  color: gold;
  text-decoration: underline;
}

.twitter-feed {
  margin-bottom: 20px;
}

.recent-updates-list {
  list-style: none;
  padding: 0;
}

.recent-updates-list li {
  margin-bottom: 20px;
  color: #bbbbbb;
}

.recent-updates-list h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffc875;
}


@media only screen and (max-width: 600px) {
  .section-container {
    flex-direction: column;
    align-items: center;
  }

  .trailer,
  .news {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }
}



.cta {
padding: 2rem;
background-color: #0077c0;
color: #fff;
text-align: center;
}

.cta h2 {
font-size: 2rem;
font-weight: bold;
margin-bottom: 1rem;
}

.cta p {
font-size: 1.2rem;
line-height: 1.5;
margin-bottom: 1rem;
}

.cta button {
background-color: #fff;
color: #0077c0;
border: none;
border-radius: 5px;
padding: 1rem 2rem;
font-size: 1.2rem;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease-in-out;
}

.cta button:hover {
background-color: #0077c0;
color: #fff;
}
/* Styles for the download section */
.download {
  background-color: black;
  padding: 2rem;
  text-align: center;
}

.download h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.download p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.download-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-buttons a {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 3px;
  font-size: 1.2rem;
  margin: 0 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.download-buttons a:hover {
  background-color: #222;
}

.app-store {
  background-color: #000;
}

.google-play {
  background-color: #fff;
  color: #000;
}


/* Styles for the footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

.footer-logo {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 150px;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icons a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.footer-social-icons a:hover {
  transform: scale(1.3);
  color: gray;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item {
  margin-bottom: 10px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.mission-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.directory-section {
  color: #fff;
  background-color: #1c1c1c;
  padding: 80px;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .directory-section {
    padding: 40px;
  }
}

.directory-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.directory-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory-list li {
  margin-bottom: 10px;
}

.directory-list a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.directory-list a:hover {
  background-color: #fff;
  color: #1c1c1c;
}

.map-section {
  position: absolute;
  overflow: scroll;
}

.map-container {
  width: 100%;
  height: 0;
  padding-bottom: 70%; /* This is the aspect ratio of your image, adjust it to match the aspect ratio of your image */
  position: relative;
}

.map-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* This makes sure the image doesn't stretch or distort */
  cursor: grab;
}
.sticky-twitch-embed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 169px;
  z-index: 9998;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  color: black;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
}

.live-button {
  position: fixed !important;
  bottom: 0;
  right: 0;
  width: auto;
  height: 5%;
  background-color: rgb(255, 255, 255, .8);
  color: #6441a5;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  align-items: center;
  padding: 5px 10px;
}

.is-closed .live-button {
  display: flex;

}

.is-closed .close-button {
  display: none;
}
.rewards-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .reward-item {
   position: relative;
   margin: 10px;
   width: 150px;
   height: 150px;
 }

 .reward-image-container {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
 }

 .reward-image {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
 }

 .reward-image-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   opacity: 0;
   transition: opacity 0.2s ease-in-out;
 }

 .reward-details {
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 5px;
   color: white;
 }

 .reward-name {
   font-size: 16px;
   font-weight: bold;
   text-align: right;
 }

 .reward-quantity {
   font-size: 14px;
   font-weight: bold;
   text-align: right;
 }

 .reward-image-container:hover .reward-image-overlay {
   opacity: 1;
 }

 .reward-image-container:hover .reward-details {
   display: none;
 }

 .reward-image-container:hover .reward-image {
   transform: scale(1.1);
 }
/* Media queries */


@media only screen and (max-width: 480px) {
    .intro h2 {
    font-size: 1.5rem;
    }
    .intro p {
    font-size: 1rem;
    }
    .features h2 {
    font-size: 1.5rem;
    }
    .features ul {
    font-size: 1rem;
    }
    .cta h2 {
    font-size: 1.5rem;
    }
    .cta p {
    font-size: 1rem;
    }
    .cta button {
    font-size: 1rem;
    }
  }
